configuration {
  display-drun: "";
  display-run: "";
  display-filebrowser: "";
  display-window: "";
  display-ssh: "";
  display-emoji: "ﲃ";
  show-icons: true;
  drun-display-format: "{icon} {name}";
  modi: "window,run,drun";
}

@theme "main"