* {
  font-family: monospace, monospace;
  border: none;
  margin: 0px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0;
}

window#waybar {
  background: #e9dcd4;
  border-bottom: 1px solid #000000;
}

#workspaces button {
  color: #0a0a0a;
  font-weight: 400;
  margin: 3px;
  padding: 1px 8px;
  background: transparent;
  border-radius: 4px;
}

#workspaces button:hover {
  background: #cfc5bc;
}

#workspaces button.active {
  background: #cfc5bc;
}

#workspaces button.urgent {
  background: #b6a89f;
  color: #53291c;
  font-weight: 700;
}

#taskbar button {
  margin: 3px;
  padding: 1px 8px;
}

#taskbar button:hover {
  background: #ccd0d9;
}

#taskbar button.active {
  background: #ccd0d9;
}

#network,
#cpu,
#temperature, 
#memory,
#backlight,
#pulseaudio,
#battery,
#clock,
#mpris {
  padding: 0px 5px;
  margin: 0px 4px;


  color: #2a2a2a;
  font-weight: 200;
}

#network.disconnected {
  color: red;
}

#temperature {
  border-top: 2px solid #73daca;
}

#temperature.critical {
  border-top: 2px solid #db4b4b;
}

#memory {
  border-top: 2px solid #1abc9c;
}

#memory.low {
  border-top: 2px solid #1abc9c;
}

#memory.medium {
  border-top: 2px solid #73daca;
}

#memory.high {
  border-top: 2px solid #f7768e;
}

#battery.full {
  border-top: 2px solid #73daca;
}

#battery.warning {
  border-top: 2px solid #db4b4b;
}

#battery.discharging {
  border-top: 2px solid #ff9e64;
}

#battery.charging {
  border-top: 2px solid #9ece6a;
}

#mpris {
  padding: 0px;
  margin: 0px;
}

#mpris.stopped {
  opacity: 0;
}
