* {
  font-family: monospace, monospace;
  border: none;
  border-radius: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
}

#workspaces button {
  color: #3b4261;
  box-shadow: none;
}

#workspaces button:hover {
  background: #292e42;
  box-shadow: none;
  color: transparent;
}

#workspaces button.active {
  color: #a9b1d6;
}

#workspaces button.urgent {
  color: #f7768e;
}

#taskbar button {
  color: #3b4261;
}

#taskbar button:hover {
  background: #292e42;
  box-shadow: none;
  color: transparent;
}

#taskbar button.active {
  color: #a9b1d6;
  border-bottom: 1px #c0caf5 solid;
}

#network {
  color: #a9b1d6;
  padding: 0px 5px;
  border-bottom: 1px solid #41a6b5;
  margin: 0px 4px;
}

#network.disconnected {
  color: red;
  padding: 0px 5px;
  border-bottom: 1px solid #db4b4b;
  margin: 0px 4px;
}

#cpu {
  color: #a9b1d6;
  padding: 0px 5px;
  border-bottom: 1px solid #7dcfff;
  margin: 0px 4px;
}

#temperature {
  color: #c0caf5;
  padding: 0px 5px;
  border-bottom: 1px solid #73daca;
  margin: 0px 4px;
}

#temperature.critical {
  border-bottom: 1px solid #db4b4b;
}

#memory {
  color: #c0caf5;
  padding: 0px 5px;
  border-bottom: 1px solid #1abc9c;
  margin: 0px 4px;
}

#memory.low {
  border-bottom: 1px solid #1abc9c;
}

#memory.medium {
  border-bottom: 1px solid #73daca;
}

#memory.high {
  border-bottom: 1px solid #f7768e;
}

#backlight {
  color: #c0caf5;
  padding: 0px 5px;
  border-bottom: 1px solid #e0af68;
  margin: 0px 4px;
}

#pulseaudio {
  color: #c0caf5;
  padding: 0px 5px;
  border-bottom: 1px solid #8fbcbb;
  margin: 0px 4px;
}

#pulseaudio.low {
  border-bottom: 1px solid #e0af68;
}

#pulseaudio.medium {
  border-bottom: 1px solid #73daca;
}

#pulseaudio.high {
  border-bottom: 1px solid #f7768e;
}

#battery {
  color: #c0caf5;
  padding: 0px 5px;
  margin: 0px 4px;
}

#battery.full {
  border-bottom: 1px solid #73daca;
}

#battery.warning {
  border-bottom: 1px solid #db4b4b;
}

#battery.discharging {
  border-bottom: 1px dashed #ff9e64;
}

#battery.charging {
  border-bottom: 1px dashed #9ece6a;
}

#clock {
  color: #c0caf5;
  padding: 0px 5px;
  border-bottom: 1px solid #9d7cd8;
  margin: 0px 4px;
}

#mpris {
  color: #c0caf5;
  border-bottom: 1px solid #9d7cd8;
}

#mpris.stopped {
  opacity: 0;
}
