* {
    font-family: "Hack Nerd Font Mono", monospace;
	border: 0;
	margin: 0;
	padding: 0;
}

#window {
	background-color: rgba(0, 0, 0, 0);
}

#outer-box {
	background-color: #2e3440;
	border: 3px solid #eceff4;
	border-radius: 10px;
	padding: 10px;
}

#input {
	padding: 10px;
	color: #8fbcbb;
	font-size: 1.5rem;
	background-color: inherit;
	border: 1px solid #4c566a;
}

#inner-box {
	margin: 10px 1px;
}

#entry {
	padding: calc(65px / 5 - 4px);
	background-color: #2e3440;
	border: 1px solid #81a1c1;
	border-radius: 4px;
	margin: 4px 0px;
	color: #8fbcbb;
}

#entry:selected {
	background-color: #3b4252;
	color: #8fbcbb;
}

label:selected {
	color: #8fbcbb;
}
