* {
  font-family: "Hack Nerd Font Mono", monospace;
  border: 0;
  margin: 0;
  padding: 0;
}

#window {
  background-color: rgba(0, 0, 0, 0);
}

#outer-box {
  background-color: #e9dcd4;
  border: 3px solid #cfc5bc;
  border-radius: 10px;
  padding: 10px;
}

#input {
  padding: 10px;
  color: #0a0a0a;
  font-size: 1.5rem;
  background-color: inherit;
  border-radius: 0;
  border-bottom: 1px solid #cfc5bc;
}

#input:focus {
  box-shadow: none;
}

#inner-box {
  margin: 10px 1px;
}

#entry {
  padding: calc(65px / 5 - 4px);
  margin: 4px 0px;
  color: #2a2a2a;
  outline: none;
}

#entry:selected {
  background-color: #cfc5bc;
  color: #0a0a0a;
}

label:selected {
  color: #0a0a0a;
}
